<h1>All orchestras</h1>
<% @orchestras.each do |orchestra| %>
  <h2><%= orchestra.name %> created at:<%=orchestra.created_at%> </h2>
  <h3><a href="/orchestras/<%= orchestra.id %>"><%= orchestra.name %> Information</a> </h3>
<% end %>
<h1><a href="/orchestras/new">New Orchestra</a> </h1>

